<div class="post">
    <div class="header">
        <h1>Title</h1>

        <button
            class="btn btn-link"
            routerLink="/"
        >Go to main</button>
    </div>

    <div class="info">
        <strong>Author</strong>
        <small>Date 1.1.1</small>
    </div>

    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Aliquid blanditiis consequatur consequuntur et laudantium
            minima mollitia quibusdam rem temporibus velit?</p>
    </div>
</div>
